<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../static/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="../static/css/editor.dataTables.min.css">
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/jquery.dataTables.min.js"></script>
  <script src="../static/js/dataTables.editor.min.js"></script>
  <script>
    $(document).ready(function () {
      $.noConflict();
      $('#myTable').DataTable();
    });
  </script>
  <title>Business</title>
</head>

<body>
  {% extends "navbar.html" %}
  {% block content %}

  <h1> Business Table </h1>
  <table id="myTable" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>bid</th>
        <th>bname</th>
        <th>categories</th>
        <th>active</th>
        <th>review_count</th>
        <th>stars</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
      <tr>
        {% for i in item %}
        <td>{{i}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}
</body>

</html>