<!doctype html>
<html lang='en' , dir="ltr">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/navbar.css">
  <link rel="stylesheet" href="../static/css/jquery.dataTables.min.css">
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/jquery.dataTables.min.js"></script>

  <title>CS460 PA1</title>
</head>

<body>
  <div id='cssmenu'>
    <ul>
      <li class={{active[0]}}><a href="{{ url_for('home') }}">Home</a></li>
      <li class={{active[1]}}><a href="{{ url_for('business') }}">Business</a></li>
      <li class={{active[2]}}><a href="{{ url_for('users') }}">Users</a></li>
      <li class={{active[3]}}><a href="{{ url_for('reviews') }}">Reviews</a></li>
      <li class={{active[4]}}><a href="{{ url_for('checkins') }}">Check-ins</a></li>
      <li class={{active[5]}}><a href="{{ url_for('sql') }}">SQL commandline</a></li>
      <li class={{active[6]}}><a href="{{ url_for('queries') }}">10 Queries</a></li>

    </ul>
  </div>
  {% block content %}
  {% endblock %}

</body>
<html>