<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="../static/css/queries.css">
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/jquery.dataTables.min.js"></script>
  <title>10 Queries</title>
</head>

<body>
  {% extends "navbar.html" %}
  {% block content %}

  <div class='container'>
    <select id="query" name="query">
      <option value="query1">Query 1</option>
      <option value="query2">Query 2</option>
      <option value="query3">Query 3</option>
      <option value="query4">Query 4</option>
      <option value="query5">Query 5</option>
      <option value="query6">Query 6</option>
      <option value="query7">Query 7</option>
      <option value="query8">Query 8</option>
      <option value="query9">Query 9</option>
      <option value="query10">Query 10</option>
    </select>
    <button class='get_result'>Submit</button>
    <br> <br>
    <div class='result'>
      <table id="myTable" class="display" cellspacing="0" width="100%">
        <thead>
          <tr id="tableHead"></tr>
        </thead>
        <tbody id="tableBody"> </tbody>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $('.container').on('click', '.get_result', function () {
        switch ($("#query").val()) {
          case "query1":
            var val1 = "SELECT * FROM users WHERE review_count > 0;";
            break;
          case "query2":
            var val1 = "SELECT uname FROM users WHERE review_count < 3;";
            break;
          case "query3":
            var val1 = "SELECT bid FROM business WHERE active = 'false';";
            break;
          case "query4":
            var val1 = "SELECT bname FROM business WHERE categories LIKE '%pizza%' AND stars >= 4;";
            break;
          case "query5":
            var val1 = "SELECT count(*) FROM checkins WHERE Friday > 0;";
            break;
          case "query6":
            var val1 =
              "SELECT R.text FROM reviews R, business B WHERE R.bid = B.bid AND B.bname = 'Arcadia Tavern';";
            break;
          case "query7":
            var val1 = "SELECT bname FROM reviews R, business B WHERE R.bid = B.bid AND R.stars <= 2;";
            break;
          case "query8":
            var val1 = "SELECT avg(B.stars), count(review_count) FROM business B WHERE B.bname like 'kfc';";
            break;
          case "query9":
            var val1 = "SELECT bid FROM business B ORDER BY B.review_count desc limit 10;";
            break;
          case "query10":
            var val1 = "SELECT uname FROM users ORDER BY review_count desc limit 1;";
            break;
        }
        console.log(val1)
        $.ajax({
          url: "/getdata",
          type: "get",
          data: {
            command: val1,
          },
          success: function (response) {
            var tbody = ""
            var thead = ""
            $.each(response.col, function () {
              thead += "<th>" + this + "</th>";
              $("#tableHead").html(thead);
            });
            $.each(response.data, function () {
              var row = "";
              for (var key in this) {
                row += "<td>" + this[key] + "</td>";
              }
              tbody += "<tr>" + row + "</tr>";
              $("#tableBody").html(tbody);
            });
          },
        });
      });
      $.noConflict();
      $('#myTable').DataTable();
    });
  </script>

  {% endblock %}