<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="../static/css/queries.css">
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/jquery.dataTables.min.js"></script>
  <title>SQL commandline </title>
</head>

<body>
  {% extends "navbar.html" %}
  {% block content %}

  <div class='container'>
    <textarea type="text" id="input_A" placeholder="Write something.." style="height:200px"></textarea>
    <button class='get_result'>Submit</button>
    <br> <br>
    <div class='result'>
      <table id="myTable" class="display" cellspacing="0" width="100%">
        <thead>
          <tr id="tableHead"></tr>
        </thead>
        <tbody id="tableBody"> </tbody>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $('.container').on('click', '.get_result', function () {
        var val1 = $("#input_A").val();
        $.ajax({
          url: "/getdata",
          type: "get",
          data: {
            command: val1,
          },
          success: function (response) {
            var tbody = ""
            var thead = ""
            $.each(response.col, function () {
              thead += "<th>" + this + "</th>";
              $("#tableHead").html(thead);
            });
            $.each(response.data, function () {
              var row = "";
              for (var key in this) {
                row += "<td>" + this[key] + "</td>";
              }
              tbody += "<tr>" + row + "</tr>";
              $("#tableBody").html(tbody);
            });
          },
        });
      });
      $.noConflict();
      $('#myTable').DataTable();
    });
  </script>

  {% endblock %}