<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Users</title>
</head>

<body>
  {% extends "tables.html" %}
  {% block content %}

  <h1> Users Table </h1>

  <!-- Trigger/Open The Modal -->
  <button class="btn-insert" id="btn-open-modal" onclick="openInsertForm()">Insert</button>

  <!-- The Modal for inserting new record-->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h2 id="form-header">Create a new record</h2>
      </div>
      <div class="modal-body">
        <div id="myForm">
          <form action="{{url_for('update_users')}}" class="form-container" id="form1" , method="POST">
            <label for="rid"><b>User id</b></label>
            <input type="text" placeholder="Enter User id" name="uid" required>
            <label for="bid"><b>User's name</b></label>
            <input type="text" placeholder="Enter User's Name" name="uname" required>
            <label for="uid"><b>Reviews Count</b></label>
            <input type="text" placeholder="Enter Reviews Count" name="review_count" required>
            <label for="stars"><b>Average Stars</b></label>
            <input type="text" placeholder="Enter Average Stars" name="avg_stars" required>

            <button type="submit" class="btn-form" style="text-align:center;">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <table id="myTable" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>uid</th>
        <th>uname</th>
        <th>review_count</th>
        <th>avg_stars</th>
        <th>edit/delete</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
      <tr id="user{{item[0]}}">
        {% for i in item %}
        <td>{{i}}</td>
        {% endfor %}
        <td>
          <button id="btn-edit{{item[0]}}" onclick="openEditForm(this)">Edit</button>
          <form action="{{url_for('delete_user', id=item[0])}}" , method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn-delete"
              onclick="confirm('This will remove the record from the table, Do you want to continue?');">Delete</button>
            </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}